@media (min-width: 800px) {
    /* PC classnames */
    .pc-only {
        display: block;
    }

    .pc-hide {
        display: none;
    }

    /* Header */
    header {
        position: relative;
        height: 125px;
        width: 100%;
    }

    nav {
        max-width: 1000px;
        margin: auto;
        height: 100%;
        width: 100%;
    }

    .burger-icon {
        display: none;
    }

    .pc-menu {
        justify-content: center;

        & a {
            font-size: 1.6rem;
            margin: 0 10px;
        }
    }

    .logo {
        position: relative;
        top: 0px;
        left: 0px
    }

    .horizontal-layout {
        width: 100%;
        max-width: 1000px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    main {
        padding-top: 0;
    }

    .content {
        padding-top: 50px;
    }

    /* Flex and grid for pc */
    .pc-flex-col {
        display: flex;
        flex-direction: column;
    }

    .pc-flex-row {
        display: flex;
        flex-direction: row;
    }

    .pc-space-between {
        justify-content: space-between;
    }

    .pc-flex-center {
        justify-content: center;
        align-items: center;
    }

    .pc-gab-large {
        gap: var(--spacing-large);
    }

    /* Spacing */
    .pc-margin-bottom {
        margin-bottom: var(--spacing-extra-large);
    }

    .pc-no-margin-bottom {
        margin-bottom: 0;
    }

    .shadow-color-shadow.pc-margin-special-top {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .pc-margin-special-bottom {
        margin-bottom: var(--spacing-extra-large);
    }

    .pc-extra-margin-on-sides {
        margin: 0 200px 100px 150px;
    }

    .shadow-color-shadow.margin-top.pc-no-margin-top {
        margin-top: 0;
    }

    /* Specific flex and grid */
    .pc-grid-2-1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--spacing-large);
    }

    .pc-grid-1-2-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .website-img-horizontal.grid-placement-upper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-placement-lower {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .grid-placement-double {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    .grid-placement-upper-double {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .grid-placement-upper-single {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .grid-placement-lower-double {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }

    .grid-placement-lower-single {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .pc-grid-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;

        & .pc-margin-0 {
            margin-bottom: 0;
        }
    }

    .pc-grid-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .double-sideways-placement-grid {
        grid-column: 1 / 3;
    }

    /* Cards */
    .overlay-section {
        height: 630px;
    }

    .lower-right {
        max-width: 860px;
    }

    /* Images */
    .hero-section h1 {
        padding: 20vh 0 0 0;
        font-size: 6rem;
        letter-spacing: 2px;
    }

    .square-image {
        min-width: 150px;

        font-size: 2rem;
    }
}

@media (min-width: 950px) {
    .pc-margin-special-bottom {
        margin-left: 25px;
        margin-right: 75px;
    }

    .pc-margin-special-top {
        margin-left: 75px;
        margin-right: 25px;    
    }

    .pc-grid-1-2-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .website-img-horizontal.grid-placement-upper {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .grid-placement-lower {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .grid-placement-double {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .square-image {
        min-width: 180px;
    }
}

@media (min-width: 1200px) {
        /* Images */
        .hero-section h1 {
            font-size: 7rem;
            letter-spacing: 5px;
        }
}